* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: Lato; margin: 0;}

.nav {
	z-index: 10;
	padding: 20px 0px;
	color: white;
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;
	width: 100%;
	text-align: center;
	font-weight: 100;
	font-size: 1.5em;
	background-color: #76608A;
}

a {
	text-decoration: none;
}
.nav a {
	color: #fff;
	transition: 0.25s;
}

.nav a:hover {
	color: rgb(186,167,203);
}

.nav-up {
	top: -80px;
}

.heading { 
	color: #76608A;
	text-align: center;
	font-size: 3em;
	margin: 50px 0px;
}

.grid {
	background: #fff;
	width: 80%;
	margin: 0 auto;
}

.grid:after {
	content: '';
	display: block;
	clear: both;
}

.grid-sizer,
.grid-item {
	width: 33.333%;
}

.grid-item {
	float: left;
	padding: 5px;
}

.grid-item img {
	display: block;
	max-width: 100%;
	transition: 0.25s;
}

.grid-item img:hover {
	opacity: 0.9;
}

@media (max-width: 800px) {
	.grid { width: 90%; }
	.grid-sizer, .grid-item { width: 50%; }
}

@media (max-width: 550px) {
	.grid-sizer, .grid-item { width: 100%; }
}